@{
    ViewBag.Title = "Error";
}

<div class="medium">We were unable to obtain the river information from<br />the National Weather Service.</div>
<div>You may want to try visiting the the <a href="http://water.weather.gov/ahps2/hydrograph.php?wfo=akq&gage=rmdv2">National Weather Service page directly</a>.</div>

