body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

.container { 
position: absolute;
    display: block;
    width: 800px;
    height: 420px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.clear { clear: both; }

.alert { color: #a41717; }
.warning { color: #abb60d; }
.grey { color: #aaa; }
.large {font-size: 7em; }
.medium { font-size: 2em; }
.bold { font-weight: bold; }
#highchart {width: 800px; height: 400px;display: none; margin-top: 30px;}
footer {
    position: absolute; bottom: 0; margin: 0 auto; text-align: center; width: 99%; font-size: .8em; color: #aaa;
}

footer a {
    color: #aaa;
}